/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard.css");

@layer base {
  html {
    font-family: "Pretendard";
  }

  body {
    * {
      font-family: "Pretendard";
    }
  }

  input[type="text"] {
    @apply border rounded-md mr-5 flex-1 px-4 h-10;
  }
}

@layer components {
  .button {
    @apply h-10 rounded-md px-6 bg-black text-white;
  }

  .checkbox {
    &:checked {
      + p {
        text-decoration: line-through;
      }
    }
  }

  .form {
    @apply border rounded-md bg-slate-200 shadow p-5;
  }
}

.red {
  color: red;
}

.navbar {
  background: white;
  padding: 20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
}

.cart-item {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  line-height: 0px;
}

.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}
.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}
.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}
.list-item p {
  color: grey;
  margin: 5px 0px;
}
